#popup {
	width:150px;
	height:300px;
	margin:15px;
}
#header {
	background-image: url("/images/headerBG.png")!important;
  text-align:right;
}
#footer{
  background-image:url("/images/footerBG.jpg")!important;
  padding:2% !important;
  width:100%;
  font-size:0.5em;
}
#aup{
  padding:20px;
}

.vcenter img.vcenter{
	vertical-align: middle !important;
}
body{
	font-size:62.5%;
	padding:0
	margin:0;
	font-family: 'Droid Sans', sans-serif;
}
#main {

}
.audio{
    background: url("/images/volume-up.svg");
    background-repeat: no-repeat;
    background-size: auto;
    height:20px;
}
.switch{
  text-align:left;
  padding-bottom:10px;
  margin-bottom:10px;
  margin-left:10px;
  border-bottom: 2px solid #555;
  border-bottom-style:dotted;
}
.switch>input{
  margin-right:20px;
}
input{
  padding:5px 20px;
  background-color:#00afd7;
  color:#000;
  font-weight:bolder;
  font-size:15px;
}
h1 {
	font-size:3em !important;
}
h2 {
	font-size:2em !important;
}
h3 {
	font-size:1.6em !important;
}
p {
	font-size:1.4em;
}
#title{
	font-size:2em;
	text-shadow: -3px 1px 3px black;
}
.btn-primary:hover{
	background-color:#053a59;
	color:#ffffff!important;
}
.btn-primary {
	background-color: #00afd7;
	color:#000;
}
.btn-red {
	background-color: #d72800;
	color:#fff!important;
}
#agree {
	background-color: #00d728;
	color:#000 !important;
	padding-right:10px;
	text-align:center;
}
a#agree{
	font-size:2.9em;
}
a:focus {
  	outline: 1px dashed red !important;
	color: #ffffff !important;
}
img.center{
    display: block;
    margin: auto;
}
.instructions{
	padding:10px 10px 0px 10px;
	text-align: center;
}
p.instructions {
	color: #000 !important;
	font-style:italic;
}

input[type=checkbox] {
    display:none;
}

input[type=checkbox] + label {
    background-color:#ccccee;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    display:inline-block;
    background-size:100%;
}

input[type=checkbox]:checked + label {
    background-color:#eecccc;
    height: 50px;
    width: 50px;
    display:inline-block;
    background-size: 100%;
}

td {
	padding:5px;

} 
td.click {
	width:5%;
}
hr {
	margin-top: -2px;
	height: 3px;
	color: #000;
}

#aup_agree{
  padding:25px;
}

.loading {
    border: 100px solid #00afd7;
    border-top: 100px solid #dddddd; 
    border-radius: 50%;
    padding: 50px !important;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    margin: auto;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#language{
  color:#fff;
  background-color:#053a58;
  border-color: #fff;
  border-radius:5px;
  font-size:1.5em;
}

#scroll{
  background-color:#000;
  color:#ddd;
  font-size: 20px;
  padding:0px 10px;
  position:fixed;
  bottom:0;
  right:0;
}
/*
input[type=checkbox] {
	display:none;
}

input[type=checkbox] + label
{
   background: #999;
   height: 16px;
   width: 16px;
   display:inline-block;
   padding: 0 0 0 0px;
}

input[type=checkbox]:checked + label
{
    background: #0080FF;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/*
input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 120px;
  height: 60px;
}
input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #dddddd;
  content: attr(data-off);
  transition: transform 0.5s;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #8ce196;
  content: attr(data-on);
  transition: transform 0.5s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  transform: rotateY(0);
}
*/
